@font-face {
  font-family: "Champagne";
  src: url('font/champ.ttf') format('truetype');

}
@font-face {
	font-family: "Orange";
	src: url('font/orange.ttf') format('truetype');
}
body {width:100%;margin:0 0; font-family: "Champagne"}
header { width: 100%; height: 180px; background-color: #f07057; padding-top: 10px; border-top-left-radius: 15px; border-top-right-radius: 15px;}
header h1 {text-align: center; text-transform: uppercase; color:#FFF; font-size: 65px; font-family: "Orange";}
header h3 {text-transform: inherit; text-align: center; color: #444135; margin-top: -40px; font-family: "Champagne"; font-weight: bold; font-size: 24px;}
.hr{ background-color :#444135;  height: 4px; top:190px; left:3px; right: 3px; position: absolute;}
.red{color:#f07057;}
#nav {height: 10px;}
nav{border: 2px solid #f07057; margin-top: 20px; width: 95%; margin-left:auto; margin-right: auto; height: 40px; border-radius: 15px; line-height: 2.5; padding-left: 20px; font-size: 18px;}
section {width: 99%; margin: auto; margin-top: 10px;}
.element{ width: 33%; display: inline-block; margin-top: 10px; text-align: center}
.element span {font-size: 24px;}
img.theme {border : 3px solid #444135;border-radius: 50%; width: 200px ;height:200px; margin: auto }

#corps { border-left: 3px solid #f07057; border-right: 3px solid #f07057; margin-top: -10px;}
footer { width: 100%; height: 100px; background-color: #f07057; padding-top: 1%; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; text-align: center}
